@import 'config';
@import 'animate';

html,
body {
   font-size: 62.5%;
}

* {
   margin: 0;
   padding: 0;
   font-family: 'Montserrat', sans-serif;
   box-sizing: border-box;
   font-size: 1.6rem;
}

.nav-left,
.nav-right {
   display: flex;
   align-items: center;
}

.nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 6rem;
   background-color: transparent;
   overflow: hidden;
   position: fixed;
   width: 100%;
   z-index: 10000;
   transition: 0.4s;

   &-logo {
      margin-right: 4.2rem;
   }

   &-left {
      padding: 3rem 2rem;
      cursor: pointer;

      .menu {
         a {
            font-size: 1.3rem;
            color: $black-color;
            font-weight: bold;
            padding: 0 1.8rem;
            text-transform: uppercase;
            transition: 0.2s all;
            cursor: pointer;

            &:hover {
               color: lighten($orange-color, 10%)
            }
         }
      }
   }

   &-right {
      padding: 4.1rem 2rem;
      cursor: pointer;

      input[type=text] {
         width: 21.5rem;
         background-color: transparent;
         color: $black-color;
         font-weight: bold;
         border: none;
         border-bottom: 1px solid $black-color;
         outline: none;
      }

      input[type=button] {
         margin-left: 2.1rem;
         color: $black-color;
         background-color: transparent;
         font-weight: bold;
         border: none;
         outline: none;
         text-transform: uppercase;
         font-size: 1.3rem;
         cursor: pointer;

         &:hover {
            color: $orange-color;

         }
      }

      ul {
         margin-left: 4.7rem;

         li {
            display: inline-block;
            margin-left: 3.2rem;
            cursor: pointer;

            &:hover {
               color: $orange-color;
            }
         }

         li:first-child {
            margin-left: 0;
         }

         li:last-child {
            position: relative;

            span {
               position: absolute;
               right: -.5rem;
               bottom: -.5rem;
               background-color: white;
               width: 1.3rem;
               height: 1.3rem;
               font-size: 1.2rem;
               text-align: center;
               cursor: pointer;
               @include border-radius(50%);
            }
         }
      }
   }
}

// end nav
.slide {
   width: 100%;
   height: 120vh;
   position: relative;

   ul {
      width: 100%;
      height: 100%;
      position: relative;

      li {
         width: 100%;
         height: 100%;
         position: absolute;
         top: 0;
         left: 0;
         opacity: 0;
         transition: 0.8s ease-out;
      }
   }

   &-item {
      width: 100%;
      height: 100%;

      &-1,
      &-2,
      &-3 {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
      }

      &-1 {
         background-image: url(../images/slider/slide1.png);
      }

      &-2 {
         background-image: url(../images/slider/slide2.png);
      }

      &-3 {
         background-image: url(../images/slider/slide3.png);
      }
   }

   &-caption {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 117rem;
      height: 30rem;
      z-index: 9999;
      padding-right: 70rem;
      text-align: left;

      h3 {
         font-size: 1.4rem;
         text-transform: uppercase;
         color: $orange-color;
         letter-spacing: .7rem;
         font-weight: 600;
         margin-bottom: 2.5rem;
         opacity: 0;
      }

      h1 {
         font-size: 6rem;
         color: $black-color;
         line-height: 7.2rem;
         margin-bottom: 4.7rem;
         opacity: 0;

      }

      .btn {
         background-color: $black-color;
         padding: 2rem;
         color: white;
         display: inline-block;
         opacity: 0;
         @include border-radius(3rem);

         span {
            padding: 0 3rem;
            border-right: 3px solid white;
         }

         button {
            padding: 0 3rem;
            border: none;
            background-color: #000;
            color: white;
            outline: none;
            cursor: pointer;
            text-transform: uppercase;
            transition: 0.4s all;

            &:hover {
               color: $orange-color;
            }
         }
      }
   }

   .next {
      width: 45.5rem;
      height: 15rem;
      position: absolute;
      bottom: 4.8rem;
      right: 8rem;
      z-index: 9999;

      &-btn {
         width: 50%;
         height: 100%;
         float: left;
         padding: 3.4rem 2rem 3.4rem 3.1rem;
         background-color: $black-color;
         color: white;

         p.arrow {
            margin-bottom: 2.8rem;
            font-weight: bold;
            cursor: pointer;

            i {
               margin-left: 1.8rem;
            }
         }

         p.title {
            font-weight: bold;
            font-size: 1.8rem;
            line-height: 2.4rem;
         }
      }

      &-img {
         width: 50%;
         float: right;

         img {
            width: 100%;
            height: 100%;
            ;
         }
      }
   }

   .nut {
      position: absolute;
      top: 50%;
      right: 8rem;
      transform: translateY(-50%);
      width: 2rem;
      overflow: hidden;
      z-index: 9999;

      span {
         width: .6rem;
         height: .6rem;
         display: block;
         border: 1px solid gray;
         background-color: #ddd;
         margin: 1.4rem 0;
         @include border-radius(50%);
         cursor: pointer;
      }
   }

   .icon {
      position: absolute;
      top: 50%;
      left: 8rem;
      transform: translateY(-50%);
      width: 2rem;
      overflow: hidden;
      z-index: 9999;
      text-align: center;
      color: $light-color;
      cursor: pointer;

      i {
         display: block;
         margin: 2.2rem auto;

         &:hover {
            color: $orange-color;
         }
      }
   }
}

// end slide 

.categories {
   background-color: $orange-color;
   height: 50rem;
   width: 100%;

   .container {
      width: $container;
      height: 100%;
      margin: 0 auto;
      position: relative;
   }

   &-content {
      width: 60rem;
      height: 60rem;
      position: absolute;
      top: 0;
      left: 0;

      ul {
         width: 100%;
         height: 100%;

         li {
            width: 30rem;
            height: 30rem;
            float: left;
            position: relative;
            cursor: pointer;
            overflow: hidden;

            img {
               display: block;
               width: 100%;
               height: 100%;
               transform: scale(1);
               transition: 0.4s all;
            }

            span {
               position: absolute;
               left: 50%;
               bottom: 10%;
               transform: translate(-50%, -10%);
               font-weight: bold;
               font-size: 1.8rem;
               text-transform: uppercase;
               transition: 0.4s all;
            }

            .overlay {
               position: absolute;
               top: 0;
               left: 0;
               width: 100%;
               height: 100%;
               display: flex;
               justify-content: center;
               align-items: center;
               flex-direction: column;
               background-color: #000000a3;
               visibility: hidden;
               opacity: 0;
               transition: 0.4s;

               p {
                  color: white;
                  font-size: 1.8rem;
                  font-weight: bold;
                  text-transform: uppercase;
                  line-height: 2.8rem;

               }

               p:first-child {
                  transform: translateY(10rem);
                  transition: transform 0.4s;
               }

               p:last-child {
                  font-size: 1.2rem;
                  color: $orange-color;
                  letter-spacing: .3rem;
                  transition: 0.4s;
                  transition-delay: 0.2s;
                  opacity: 0;
               }
            }

            &:hover {
               .overlay {
                  visibility: visible;
                  opacity: 1;

                  p:first-child {
                     transform: translateY(0);
                  }

                  p:last-child {
                     opacity: 1;
                  }
               }

               span {
                  opacity: 0;
               }

               img {
                  transform: scale(1.1);
               }
            }
         }

      }
   }

   &-title {
      width: 40rem;
      height: 100%;
      float: right;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: white;

      h3,
      h1 {
         font-weight: bold;
         text-transform: uppercase;
      }

      h3 {
         font-size: 1.2rem;
         letter-spacing: .4rem;
         line-height: 2.8rem;
         margin-bottom: .6rem;
      }

      h1 {
         font-size: 3rem;
         line-height: 4.8rem;
         letter-spacing: .6rem;
         margin-bottom: 2.2rem;
      }

      p {
         font-size: 1.8rem;
         line-height: 2.8rem;
      }
   }
}

// end categories

.arrivals {
   width: 100%;
   overflow: hidden;
   margin-top: 10rem;

   .container {
      width: $container;
      margin: 0 auto;
      padding-top: 12rem;
   }

   &-title {
      width: 100%;
      text-align: center;

      h1 {
         font-size: 2.4rem;
         text-transform: uppercase;
         font-weight: bold;
         line-height: 2.2rem;
         letter-spacing: .4rem;
         margin-bottom: 4rem;
      }

      ul {
         margin-bottom: 7rem;
         cursor: pointer;

         li {
            display: inline-block;
            padding: 0 1.1rem;
            font-size: 1.2rem;
            text-transform: uppercase;
            color: $light-color;
            line-height: 2.6rem;
            font-weight: bold;

         }

         li.active {
            color: $black-color;
         }
      }
   }


   &-product {
      ul {
         li {
            width: 27rem;
            height: 47rem;
            margin-right: 2.54rem;
            margin-bottom: 4.2rem;
            display: inline-block;
            position: relative;
            transition: 0.4s all;
         }

         li:nth-child(4n) {
            margin-right: 0;
         }

         li:hover {
            box-shadow: 0 0 5rem #ddd;

            .arrivals-product-imgPr {
               border: none;
               transform: scale(1.1);
            }

            .price {
               opacity: 0;

            }

            .wpPr {
               opacity: 1;

            }

         }
      }

      &-imgPr {
         height: 37rem;
         width: 100%;
         background-position: center;
         background-repeat: no-repeat;
         transform: scale(1);
         border: 1px solid #f3f3f3;
         transition: 0.4s transform;
         cursor: pointer;

         .sale,
         .new {
            position: absolute;
            top: 9%;
            right: 9%;
            padding: .6rem 1.2rem;
            background-color: $orange-color;
            font-size: 1rem;
            font-weight: bold;
            color: white;
            text-transform: uppercase;
            @include border-radius(2rem);
         }

         .new {
            background-color: $blue-color;
         }
      }

      .imgPr1 {
         background-image: url(../images/new-sp/new-sp1.png);
      }

      .imgPr2 {
         background-image: url(../images/new-sp/new-sp2.png);
      }

      .imgPr3 {
         background-image: url(../images/new-sp/new-sp3.png);
      }

      .imgPr4 {
         background-image: url(../images/new-sp/new-sp4.png);
      }

      .imgPr5 {
         background-image: url(../images/new-sp/new-sp5.png);
      }

      .imgPr6 {
         background-image: url(../images/new-sp/new-sp6.png);
      }

      .imgPr7 {
         background-image: url(../images/new-sp/new-sp7.png);
      }

      .imgPr8 {
         background-image: url(../images/new-sp/new-sp8.png);
      }

      &-titlePr {
         height: 10rem;
         width: 100%;

         .price {
            padding-top: 2.4rem;
            opacity: 1;
            transition: 0.5s all;

            p {
               font-size: 1.5rem;
               font-weight: bold;
               margin-bottom: 2rem;
               color: lighten($black-color, 30%);
            }

            small {
               font-size: 1.4rem;
               color: $light-color;
            }
         }

         .wpPr {
            width: 100%;
            position: absolute;
            opacity: 0;
            top: 37rem;
            left: 0;
            padding: 2rem 3rem;
            transition: 0.5s all;

            .nutPr {
               width: 50%;
               float: left;
               cursor: pointer;

               span {
                  width: 1rem;
                  height: 1rem;
                  margin: 0 .4rem;
                  background-color: $light-color;
                  display: inline-block;
                  @include border-radius(50%);
               }

               span.active {
                  width: 1.2rem;
                  height: 1.2rem;
                  background-color: $orange-color;
               }
            }

            .iconPr {
               width: 50%;
               float: right;
               cursor: pointer;

               i {
                  margin: 0 .6rem;

                  &:hover {
                     color: $orange-color;
                  }
               }
            }
         }

         button {
            margin-top: 2.2rem;
            font-size: 1.2rem;
            font-weight: bold;
            text-transform: uppercase;
            border: none;
            outline: none;
            background-color: white;
            cursor: pointer;

            &:hover {
               color: $orange-color;
            }
         }
      }
   }
}

// end new arrivals

.best-collec {
   width: 100%;
   padding-top: 5rem;

   .container {
      width: $container;
      margin: 0 auto;
   }

   &-title {
      width: 100%;
      text-align: center;

      h1 {
         font-size: 3rem;
         font-weight: bold;
         text-transform: uppercase;
         letter-spacing: .4rem;
         margin-bottom: 7rem;
      }
   }

   &-content {
      width: 100%;
      display: flex;
      position: relative;

      .imgB {
         position: relative;

         .title {
            position: absolute;
            bottom: 4rem;
            left: 4rem;

            h2 {
               font-size: 2.4rem;
               font-weight: bold;
               margin-bottom: 1.4rem;
            }

            p {
               font-size: 1.2rem;
               color: $light-color;
               text-transform: uppercase;
               font-weight: bold;
               letter-spacing: .4rem;
            }
         }

         .rotate1,
         .rotate2 {
            position: absolute;
            font-size: 1.4rem;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: .4rem;
         }

         p.rotate1 {
            top: 0;
            left: -25rem;
            transform-origin: right;
            transform: rotate(-90deg);
            color: $orange-color;
         }

         p.rotate2 {
            top: 0;
            right: -30rem;
            transform-origin: left;
            transform: rotate(90deg);
            color: $light-color;
         }

         .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #00000082;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transition: 0.6s all;
            cursor: pointer;

            span {
               width: 5rem;
               height: 5rem;
               background-color: $orange-color;
               display: flex;
               justify-content: center;
               align-items: center;
               transform: scale(0.6);
               transition: 0.4s all;
               @include border-radius(50%);

               i {
                  color: white;
               }
            }
         }

         &:hover {
            .overlay {
               opacity: 1;

               span {
                  transform: scale(1);
               }
            }
         }
      }
   }

   &-left {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .imgB1,
      .imgB2 {
         background-position: center;
         background-repeat: no-repeat;
         width: 57rem;
         height: 57rem;
         background-color: #f7f7f7;
      }

      .imgB1 {
         background-image: url(../images/best-sp/best-sp1.png);

      }

      .imgB2 {
         background-image: url(../images/best-sp/best-sp2.png);
      }

      .glo {
         position: absolute;
         bottom: -12rem;
         left: 0;
      }

   }

   &-right {
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;

      .wpb {
         .imgB3 {
            width: 47rem;
            height: 67rem;
            margin-top: 20rem;
            background-image: url(../images/best-sp/best-sp3.png);
            background-position: center;
            background-repeat: no-repeat;
            background-color: #f7f7f7;
         }

         button {
            padding: 2.8rem 6.8rem;
            margin-bottom: 8rem;
            margin-top: 13rem;
            font-size: 1.2rem;
            @include border-radius(5rem);
            background-color: white;
            border: 1px solid $black-color;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: .2rem;
            outline: none;
            cursor: pointer;
            transition: 0.6s all;

            &:hover {
               background-color: $black-color;
               color: white;
            }
         }
      }
   }
}

// end  best-collection
.testimon {
   padding-top: 11.6rem;
   background-color: $black-color;

   .container {
      width: $container;
      margin: 0 auto;
      padding: 11rem 0;
   }

   &-title {

      h3,
      h1 {

         text-transform: uppercase;
         font-weight: bold;
         color: white;
         letter-spacing: .4rem;

      }

      h3 {
         font-size: 1.2rem;
         margin-bottom: 2.4rem;
      }

      h1 {
         font-size: 3rem;
         margin-bottom: 3rem;
      }
   }

   &-content {
      display: flex;
      align-items: center;
      color: white;
      position: relative;

      .left {
         width: 15%;
         float: left;

         .imgT {
            width: 7rem;
            height: 7rem;
            display: inline-block;
            background-image: url(../images/imgtestimon.png);
            background-color: white;
            background-position: center;
            background-size: cover;
            margin-right: 10rem;
            @include border-radius(50%);
         }
      }

      .right {
         width: 65%;

         blockquote {
            margin-bottom: 2.6rem;
         }

         p {
            color: $orange-color;
            font-size: 1.2rem;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: .4rem;
         }
      }

      .nutTets {
         position: absolute;
         top: 50%;
         right: 0;
         transform: translateY(-50%);
         width: 2rem;
         overflow: hidden;
         z-index: 9999;

         span {
            width: .6rem;
            height: .6rem;
            display: block;
            border: 1px solid gray;
            background-color: #ddd;
            margin: 1rem 0;
            @include border-radius(50%);
            cursor: pointer;
         }

         span.active {
            background-color: $orange-color;
         }
      }
   }
}

// end testimonals

.insta-photo {
   width: 100%;
   height: 38.4rem;
   position: relative;

   ul {
      width: 100%;
      height: 100%;

      li {
         width: 20%;
         height: 100%;
         float: left;

         .instar-img {
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
         }
      }
   }

   &-img1 {
      background-image: url(../images/insta/insta-1.png);
   }

   &-img2 {
      background-image: url(../images/insta/insta-2.png);
   }

   &-img3 {
      background-image: url(../images/insta/insta-3.png);
   }

   &-img4 {
      background-image: url(../images/insta/insta-4.png);
   }

   &-img5 {
      background-image: url(../images/insta/insta-5.png);
   }

   button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 4.4rem 4.2rem;
      color: white;
      background-color: #0000007a;
      border: none;
      outline: none;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.4rem;

      span {
         color: $orange-color;
         font-size: 1.4rem;
      }
   }
}

// end instagram-photo

.service {
   width: 100%;
   overflow: hidden;

   .container {
      width: $container;
      margin: 0 auto;
      overflow: hidden;
      padding-top: 11.6rem;
      padding-bottom: 6rem;

      ul {
         width: 100%;
         height: 100%;

         li {
            width: 25%;
            float: left;
            display: flex;
            justify-content: center;
            align-items: center;

            span {
               margin-right: 3.8rem;
            }

            .feature {
               h3 {
                  font-size: 1.2rem;
                  text-transform: uppercase;
                  font-weight: bold;
                  margin-bottom: 1.6rem;
               }

               p {
                  font-size: 1.4rem;
                  color: $light-color;
               }
            }
         }
      }
   }
}

// end feature

.logo-brand {
   width: 100%;
   overflow: hidden;

   .container {
      width: $container;
      margin: 0 auto;
      padding: 6rem 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
   }
}

// end logo-brand 

.newsletter {
   width: 100%;
   overflow: hidden;

   .container {
      width: $container;
      margin: 0 auto;
      padding: 6rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   &-title {
      width: 50rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      h3 {
         font-size: 1.2rem;
         font-weight: bold;
         text-transform: uppercase;
         color: lighten($light-color, 20%);
         margin-bottom: 2rem;
         letter-spacing: .4rem;
      }

      h1 {
         font-size: 3.6rem;
         font-weight: bold;
         margin-bottom: 2rem;
      }

      p {
         color: lighten($light-color, 20%);
         line-height: 2.6rem;
         margin-bottom: 5.2rem;
      }
   }

   form {
      .box-form {
         width: 63rem;
         overflow: hidden;
         border-radius: 10rem;

         input[type=text] {
            width: 70%;
            float: left;
            padding: 2.2rem 3.4rem;
            font-size: 1.4rem;
            line-height: 3rem;
            color: $light-color;
            background-color: #eef7f9;
            border: none;
            outline: none;
         }

         button {
            width: 30%;
            padding: 2.2rem 3.4rem;
            font-size: 1.2rem;
            line-height: 3rem;
            text-transform: uppercase;
            font-weight: bold;
            color: white;
            background-color: $black-color;
            border: none;
            outline: none;
         }
      }
   }
}

// end newsletter

@import 'responsive';